﻿<div class="row">
    <div class="document-info col-md-4" *ngFor="let p of documents">
        <ul>
            <li>{{ p.fileName }}</li>
            <li>{{ p.fileLocation }}</li>
            <li>{{ p.createDate | date:"dd-MM-yyyy hh:mm:ss" }}</li>
            <li>{{ p.year }}</li>
            <li>{{ p.uploadDate | date:"dd-MM-yyyy hh:mm:ss" }}</li>
        </ul>
    </div>
</div>
<a routerlink="/add-document" class="btn btn-success">Add Document(s)</a>
