﻿<div class="row">
    <div class="col-md-12">
        <carousel class="text-center">
            <div *ngFor="let p of pictures">
                <slide>
                    <img class="img-main-carousel" src="{{p.fullPath}}" alt="{{p.name}}" style="display: block; width: 100%;">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>{{p.name}}</h1>
                    </div>
                </slide>
            </div>
        </carousel>
    </div>
</div>

<input type="file" (change)="onFileSelected($event)" />
<button type="button" (click)="addPicture()">Upload</button>
<!--<a routerlink="/add-picture" class="btn btn-success">Add Picture(s)</a>-->
