﻿@*@model IEnumerable<PictureViewModel>*@
@section Scripts{
    <script src="~/clientapp/dist/runtime.js"></script>
    <script src="~/clientapp/dist/polyfills.js"></script>
    <script src="~/clientapp/dist/styles.js"></script>
    <script src="~/clientapp/dist/vendor.js"></script>
    <script src="~/clientapp/dist/main.js"></script>
}

<h1>Pictures</h1>
<the-pictures></the-pictures>


@*@model IEnumerable<Picture>
    <h1>Pictures</h1>
    <div>
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Pictures">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload foto's</p>
                    <input type="file" name="files" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|images/*" >
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload">
                </div>
            </div>
        </form>
    </div>

    <p>Count: @Model.Count()</p>
    <div class="row">
        @foreach (var p in Model)
        {
            <div class="col-md-4">
                <div class="border bg-light rounded p-1">
                    <a href="~/img/@(p.Name)" class="thumbnail">
                        <img src="~/img/@(p.Name)" class="img-fluid" asp-append-version="true" />
                    </a>
                    @p.Name
                </div>
            </div>
        }
    </div>*@