﻿/*body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input, textarea {
    font-size: 18px;
    width: 200px;
}

label {
    font-size: 16px;
}

menu li{
  display: inline;
}

  menu li::after{
    content: ' |';
  }

  menu li:last-of-type::after{
    content: "";
  }*/
